.footer {
    height: 80px;
    background-color: #F2D7E0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer img {
    height: 80px;
}

.footer_area {
    padding-top: 30px;
}

body {
    background-color: #C4BFE7;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2D7E0;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.texto_pes{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.texto_pes i{
    font-size: 18px;
    position: absolute;
    left: 5%;
    color: black;
}

.texto_pes input{
    padding: 2px 3px;
    margin-left: 5px;
    background:transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

.texto_pes:focus-within input::placeholder{
    visibility: hidden;
}

.texto_pes:focus-within i{
    visibility: hidden;
}

.texto_pes input{
    color: black;
}

.texto_pes input::placeholder{
    color: black;
    padding-left: 20px;
}

.botao1 {
    background-color: rgba(0, 0, 0);
    border-radius: 5%;
    height: 30px;
    margin-left: 5px;
    border: none;
    color: white;
}

.botao1:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 80px;
}

.main {
    padding-top: 20px;
    background-color: #78ABC6;
}

.txt_black {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;;
}

.ansiedade_img img {
    width: 80%;
    height: 80%;
}

.ansiedade_img {
    text-align: justify;
}

.profissionais h2 {
    text-align: center;
}

.profissional_img img {
    width: 100%;
    height: 80%;
    padding-top: 25px;
}

.profissional {
    margin-left: 300px;
    margin-top: 5px;
}

.profissionais2 {
    background-image: url(img/fundo_profissionais.jpg);
    background-size: 98% 98%;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao {
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.botao:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    border-radius: 5%;
    padding: 5px 5px;
    color: black;
}

.nav-link:hover {
    background-color: #0d6dfd;
    color: white;
}

.header nav {
    padding-top: 20px;
}

.especial {
    margin-top: 100px;
}

.apoio {
    padding-top: 20px;
    padding-bottom: 20px;
}

.apoio h1,
.centro {
    text-align: center;
}

.centro {
    width: 75%;
}

.apoio img {
    width: 75%;
}

.apoio svg {
    width: 25px;
    padding-left: 5px;
}

.img_cll {
    display: none;
}

/* Media Quieres */

@media screen and (max-width:1024px) {
    .profissional {
        margin-left: 25%;
    }

    .sobre_txt {
        margin-left: 13%;
    }

    .carousel img {
        height: 400px;
    }

    .texto_pes {
        display: none;
    }

    .logo {
        padding-bottom: 10px;
    }
}

@media screen and (max-width:800px) {
    .profissional {
        margin-left: 13%;
    }

    .sobre_txt {
        margin-left: 5%;
    }
}

@media screen and (max-width:575px) {
    .img_pc {
        display: none;
    }

    .img_cll {
        display: block;
    }

    .profissionais {
        padding: 0px;
        margin: 0px;
    }

    .profissional {
        padding: 0px;
        margin: 0px;
    }

    .profissionais2 {
        padding: 0px;
        margin: 0px;
    }

    .sobre_txt {
        width: 90%;
        height: 90%;
        margin: 0px;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .sobre {
        right: 50%;
    }

    .logo {
        width: 50%;
        margin-left: 25%;
    }

    .logo img{
        width: 100%;
        height: 100%;
    }

    .profissionais2 {
        background-image: none;
    }
}